<html>
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/1.2.0/tailwind.min.css">
        <style>
            body, html {
                overflow-x: hidden;
            }

            body {
                padding-bottom: 30px;
            }

            header span:hover, .card:hover {
                cursor: pointer;
                transition-duration: 0.2s;
            }

            header span {
                transition: background-color 75ms ease-in-out;
                transition: box-shadow 75ms ease-in-out;
            }

            .card {
                transform: rotate(0deg);
                transition: transform 0.2s ease-in-out;
            }

            .card:hover {
                transform: rotate(2deg);
            }

            #splashIcon {
                transform: translateY(-60%);
            }

            #list {
                display: grid;
                margin: auto;
                /* padding: 8px; */
                grid-template-columns: repeat(auto-fit, 320px);
                grid-rows: 3;
                grid-gap: 50px;
                justify-content:center;
                margin-top: 300px;
            }

            * {
                user-select: none;
            }

            .partner-title {
                display: none;
            }

            @media only screen and (max-width: 600px) {
                #list {
                    grid-gap: 30px;
                    margin-top: 220px;
                }
            }
        </style>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Flamex</title>
        <link rel="shortcut icon" href="/image/homeSplash.gif" type="image/x-icon">
        <script>
            setTimeout(() => {
                const oldsrc = document.getElementById("splashIcon").src
                document.getElementById("splashIcon").src = "/image/rick.gif"
                setTimeout(() => {
                    document.getElementById("splashIcon").src = oldsrc
                }, 1500)
            }, 10000)
        </script>
    </head>
    <body class="pt-40 p-0 bg-gray-800 text-white">
        <!-- <header class="shadow-xl text-white text-center bg-purple-700 h-12 pt-2 md:px-5 mb-40">
            <span class="hover:bg-purple-800 hover:shadow-lg rounded-md px-5 py-1 float-left ml-3" onclick="window.open('/discord')">Discord</span>
            <span class="hover:bg-purple-800 hover:shadow-lg rounded-md px-5 py-1 float-left ml-3" onclick="window.open('mailto:contact@flamex.dev')">E-Mail</span>
            <span class="hover:bg-purple-800 hover:shadow-lg rounded-md px-5 py-1 float-right ml-3" onclick="window.open('https://tv.flamex.dev')"><img src="/image/twitch_white.jpg" style="width: 1.75em;"></span>
            <span class="hover:bg-purple-900 hover:shadow-lg rounded-md px-5 py-1 float-left ml-3" onclick="window.location.href = 'https://yt.flamex.dev'">Reallife</span>
        </header> -->
        <div class="text-center md:w-1/2 w-screen select-none">
            <p class="text-6xl font-semibold">Flamex<!-- <span class="text-base text-gray-500">#1111</span> --></p>
            <p class="text-gray-500">German hobby developer and full-time idiot</p>
        </div>
        <div class="w-1/2 float-right hidden md:block">
            <img src="/image/homeSplash.gif" id="splashIcon" style="border-radius: 20px;" class="overflow-hidden w-64 mx-auto">
        </div>
        <div class="px-20 w-screen" id="list">
            <!-- DBLEU -->
            <div class="card bg-gray-100 rounded-lg bg-gray-900 hover:shadow-xl p-5 content-around" onclick="window.open('https://discord-botlist.eu')">
                <div class="flex">
                    <img src="/image/dbleu.jpg" class="rounded-full w-10 h-10"><span class="font-bold ml-3 mt-2">discord-botlist.eu</span>
                </div>
                <p class="text-gray-400 mt-2">
                    A Discord botlist owned by me, Bendix & LPTP1 and founed in early 2020 with more than 600 listed bots.
                </p>
                <p class="text-blue-300 mt-2">
                    discord-botlist.eu
                </p>
            </div>
            <!-- SAVEDISCORD -->
            <div class="card bg-gray-100 rounded-lg bg-gray-900 hover:shadow-xl p-5 content-around" onclick="window.open('https://savediscord.com')">
                <div class="flex">
                    <img src="/image/sdc.jpg" class="rounded-full w-10 h-10"><span class="font-bold ml-3 mt-2">savediscord.com</span>
                </div>
                <p class="text-gray-400 mt-2">
                    An initiative trying to stop the sale of Discord. Reached 2400+ users in just a few days.
                </p>
                <p class="text-blue-300 mt-2">
                    savediscord.com
                </p>
            </div>
            <!-- STATIFIER -->
            <div class="card bg-gray-100 rounded-lg bg-gray-900 hover:shadow-xl p-5 content-around" onclick="window.open('https://stats.flamex.dev')">
                <div class="flex">
                    <img src="/image/statifier.jpg" class="rounded-full w-10 h-10"><span class="font-bold ml-3 mt-2">Statifier</span>
                </div>
                <p class="text-gray-400 mt-2">
                    A simple bot to collect stats of your Discord-Server. Public since 04/07/2021 and made in few days.
                </p>
                <p class="text-blue-300 mt-2">
                    stats.flamex.dev
                </p>
            </div>
            <div class="card bg-gray-100 rounded-lg bg-gray-900 hover:shadow-xl p-5 content-around" onclick="window.open('https://stats.flamex.dev')">
                <div class="flex">
                    <img src="/image/zap.jpg" class="rounded-full w-10 h-10"><span class="font-bold ml-3 mt-2">Zap-Hosting <font title="Partner">🌟</font></span>
                </div>
                <p class="text-gray-400 mt-2">
                    Zap-Hosting is one of the partners of dbleu and sponsors us the hardware. Use code '<code>dbl-eu-20</code>' for 20% off.
                </p>
                <p class="text-blue-300 mt-2">
                    zap-hosting.com
                </p>
            </div>
            <br>
        </div>
        <!-- <p class="text-center font-semibold text-xl">Frameworks and more that I use</p>
        <img src="" alt=""> -->
    </body>
</html>